SENDGRID_KEY=<SENDGRD_KEY'>
EMAIL_DEST=<DEST_EMAIL>
EMAIL_SOURCE=<SOURCE_EMAIL>
PORT=3000
LUGH_CONTRACT='KT1StBf222xBLfLTChsute8F9HSt9kVHpqdY'
TEZOS_NODE="https://hangzhounet.smartpy.io/"
AMOUNT_TRANSFERRED=100
